.jstEditor {
    padding-left: 0px;
}
.jstEditor textarea, .jstEditor iframe {
    margin: 0;
}

.jstHandle {
    height: 10px;
    font-size: 0.1em;
    cursor: s-resize;
    /*background: transparent url(img/resizer.png) no-repeat 45% 50%;*/
}

.jstElements {
    padding: 3px 3px 3px 0;
}

.jstElements button {
    margin-right: 4px;
    width : 24px;
    height: 24px;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    background-color : #f7f7f7;
    background-position : 50% 50%;
    background-repeat: no-repeat;
}
.jstElements button:hover {
    border-color: #bbb;
  background-color: #e5e5e5;
}
.jstElements button span {
    display : none;
}
.jstElements span {
    display : inline;
}

.jstSpacer {
    width : 0px;
    font-size: 1px;
    margin-right: 6px;
}

.jstElements .help { float: right; margin-right: 0.5em; padding-top: 8px; font-size: 0.9em; }
.jstElements .help a {padding: 2px 0 2px 20px; background: url(../images/help.png) no-repeat 0 50%;}

/* Buttons
-------------------------------------------------------- */
.jstb_strong {
    background-image: url(../images/jstoolbar/bt_strong.png);
}
.jstb_em {
    background-image: url(../images/jstoolbar/bt_em.png);
}
.jstb_ins {
    background-image: url(../images/jstoolbar/bt_ins.png);
}
.jstb_del {
    background-image: url(../images/jstoolbar/bt_del.png);
}
.jstb_code {
    background-image: url(../images/jstoolbar/bt_code.png);
}
.jstb_h1 {
    background-image: url(../images/jstoolbar/bt_h1.png);
}
.jstb_h2 {
    background-image: url(../images/jstoolbar/bt_h2.png);
}
.jstb_h3 {
    background-image: url(../images/jstoolbar/bt_h3.png);
}
.jstb_ul {
    background-image: url(../images/jstoolbar/bt_ul.png);
}
.jstb_ol {
    background-image: url(../images/jstoolbar/bt_ol.png);
}
.jstb_bq {
    background-image: url(../images/jstoolbar/bt_bq.png);
}
.jstb_unbq {
    background-image: url(../images/jstoolbar/bt_bq_remove.png);
}
.jstb_pre {
    background-image: url(../images/jstoolbar/bt_pre.png);
}
.jstb_precode {
    background-image: url(../images/jstoolbar/bt_precode.png);
}
.jstb_link {
    background-image: url(../images/jstoolbar/bt_link.png);
}
.jstb_img {
    background-image: url(../images/jstoolbar/bt_img.png);
}
.jstb_help {
    background-image: url(../images/help.png);
}
.jstb_tmp_addTicket {
	width: 62px !important;
  background-image: url(../images/jstoolbar/bt_tmp_addTicket.png);
}
.jstb_tmp_addQA {
	width: 60px !important;
  background-image: url(../images/jstoolbar/bt_tmp_addQA.png);
}
.jstb_tmp_addBug {
	width: 53px !important;
  background-image: url(../images/jstoolbar/bt_tmp_addBug.png);
}
.jstb_tmp_addBugReview {
	width: 92px !important;
  background-image: url(../images/jstoolbar/bt_tmp_addBugReview.png);
}
.jstb_tmp_ReFixbug {
	width: 62px !important;
  background-image: url(../images/jstoolbar/bt_tmp_ReFixbug.png);
}
.jstb_tmp_ReIgnore {
	width: 56px !important;
  background-image: url(../images/jstoolbar/bt_tmp_ReIgnore.png);
}
.jstb_tmp_ReConfirm {
	width: 68px !important;
  background-image: url(../images/jstoolbar/bt_tmp_ReConfirm.png);
}
.jstb_tmp_ReFixTicket {
	width: 74px !important;
  background-image: url(../images/jstoolbar/bt_tmp_ReFixTicket.png);
}
.jstb_tmp_ReDieuTra {
	width: 68px !important;
  background-image: url(../images/jstoolbar/bt_tmp_ReDieuTra.png);
}
.jstb_tmp_PhantichBug {
	width: 80px !important;
  background-image: url(../images/jstoolbar/bt_tmp_PhantichBug.png);
}
.jstb_sta_dev {
	width: 35px !important;
  background-image: url(../images/jstoolbar/bt_DEV_STATIS.png);
}
.jstb_sta_test {
	width: 40px !important;
  background-image: url(../images/jstoolbar/bt_TEST_STATIS.png);
}
.jstb_lead_note {
	width: 45px !important;
  background-image: url(../images/jstoolbar/bt_LEAD_STATIS.png);
}